{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section class="catalog">
  <div class="main">
    <div class="sec__catalog">

      <div class="filters">
        <p>Поиск</p>
        <input class="search" placeholder="Search">
        <span class="sort" data-sort="name">Сортировать по имени</span>
        <span class="sort" data-sort="sort_s">Сортировать по изделию</span>
      </div>

      {% if products %}
        {% for elem in products %}
          <div class="catalog__prod"><img src="{{ elem.photo_url }}" alt="">
            <div class="prod-descr">
              <p class="prod__name">{{ elem.name }}<br><br></p>
              <p class="prod_price">{{ elem.price }}</p>
            </div>
          </div>
        {% endfor %}
      {% else %}
      <h1>Ничего нет</h1>
      {% endif %}

    </div>
  </div>



  </div>
</section>
<script src="{% static 'js/list.min.js' %}"></script>
<script>
  var options = {
    valueNames: ['name', 'sort_s']
  };

  var userList = new List('products', options);
</script>

{% endblock %}