{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="header-wrapper__banner"></div>
<div class="main">
  <h1 class="sec__name">История компании</h1>
  <p class="sec__block">История компании ”СырноеСчастье” начинается ещё в 2017 году, когда компания только зарождалась,
    тогда Патрик Либруньан понял из своей любви к сыру, что хочет иметь собственный завод по его созданию, компанию и
    сайт. Тогда он начал искать тех кто поддержит его интересы, он находил, находил всё больше людей и собрал
    достаточно, чтобы наконец осуществить желаемое.<br>Так и зародилась наша компания, благодаря одной мечте одного
    прекрасного человека!</p>
  <hr class="line">
  <div class="sec__delivery">
    <div class="delivry__eclipse">
      <p>Справочная информация</p>
    </div>
    <div class="delivery__text">
      <p>Доставка по Москве <br><br></p>
      <p>Габаритные и тяжелые заказы весом более 10 кг (такие как латексное покрытие, сыроварни, кастрюли больших
        объемов, поддоны и т.д.) могут быть доставлены сервисом Яндекс-доставка день-в-день (по предварительной
        договоренности).<br><br></p>
      <p>Мы предлагаем Вам следующие варианты оплаты товара: 1. Оплата через электронную кассу при получении товара
        самовывозом - ДЛЯ МОСКВЫ 2. Предоплата онлайн на сайте - ДЛЯ ДОСТАВКИ В РЕГИОНЫ 3. Мы не отправляем товары
        наложенным платежом. </p>
    </div>
  </div>
  <hr class="line">



  <div class="sec__comments">
    <h1 class="sec__name">Комментарии от наших клиентов</h1>
    <h2 class="sec__name" style="text-align: left;">Написать комментарий</h2>
    <form method="post" class="sec__comments-form">
      {% csrf_token %}
      {{form.text}}
      <button type="submit">Отправить</button>
    </form>
    {% if comment %}
      {% for elem in comment %}
        <div class="comment__item">
          <p class="buyer-name">{{ elem.name }}</p> <br>
          <div class="comnt">
            <p>{{elem.text}}</p>
          </div>
          <img class="rating" src="{% static 'img/rating.png' %}" alt="">
          <span> {{elem.date}}</span>
        </div>
      {% endfor %}
    {% endif %}

  </div>


  <hr class="line">
  <h1 class="sec__name sec__name-left">Полезная информация</h1>
  <p class="sec__block">Добро пожаловать на сайт про домашнее сыроделие! Основная тематика нашего сайта – это
    приготовление сыра в домашних условиях. По сути, наш интернет-ресурс – это некий клуб по интересам, где вы всегда
    сможете найти для себя ценную и актуальную информацию, пообщаться с единомышленниками и профессионалами в области
    сыроделия, а также найти необходимые ингредиенты и оборудование.</p>
  <p class="sec__block sec__block-dop">В общем — заходите, читайте, пробуйте… И у вас все обязательно получится! Если же
    будут вопросы – задавайте их в форуме или прямо под статьями. Мы обязательно поможем! Удачного вам сыроделия!</p>
  <hr class="line">
  <h1 class="sec__name sec__name-left">Интересные новости</h1>
  <div class="sec__news">
    <div class="news__item"><img src="{% static 'img/news-img_1.png' %}" alt="">
      <p class="news__name">Рецепт камамбера в домашних условиях <br><br></p>
      <p class="news__descr">Легендарный сыр “камамбер” можно приготовить в домашних условиях! Как? Читайте наш
        пошаговый рецепт с комментариями практикующего сыродела.</p>
      <button>Прочитать подробнее</button>
    </div>
    <div class="news__item"><img src="{% static 'img/news-img_2.png' %}" alt="">
      <p class="news__name">Рецепт сыра Белпер Кнолле<br><br></p>
      <p class="news__descr">Очень вкусный немецкий твердый сыр весьма оригинального внешнего вида и с не менее
        экстравагантным вкусом. Готовится не очень сложно, поэтому подходит даже для новичков.</p>
      <button>Прочитать подробнее</button>
    </div>
    <div class="news__item"><img src="{% static 'img/news-img_3.png' %}" alt="">
      <p class="news__name">Сыропригодность молока <br><br></p>
      <p class="news__descr">Сыроделие начинается не с заквасок/ферментов, и даже не с рецепта… Оно начинается с
        правильного молока! Как определить, что молоко “правильное” – читайте в данной статье.</p>
      <button>Прочитать подробнее</button>
    </div>
  </div>
</div>

{% endblock %}