{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section class="catalog">
    <div class="wrapper"> 
      <h1>Говядина</h1>
      <div class="catalog-line">
        <div class="catalog-line__block"> <a href=""><img src="{% static 'images/meat1.png' %}" alt="meat"></a>
          <p class="name">Стейк из окорока говяжий</p>
        </div>
        <div class="catalog-line__block"> <a href=""><img src="{% static 'images/meat2.png' %}" alt="meat"></a>
            <p class="name">Мясо говяжье </p>
        </div>
        <div class="catalog-line__block"> <a href=""><img src="{% static 'images/meat3.png' %}" alt="meat"></a>
            <p class="name">Говяжьи ребрышки </p>
        </div>
      </div>
    </div>
  </section>
  <section class="catalog">
    <div class="wrapper"> 
      <h1>Свинина</h1>
      <div class="catalog-line">
        <div class="catalog-line__block"> <a href=""><img src="{% static 'images/pork1.png.png' %}" alt="pork"></a>

          <p class="name">Стейк из окорока говяжий</p>
        </div>
        <div class="catalog-line__block"><a href=""><img src="images/pork2.png" alt="pork"></a>
          <p class="name">Стейк из окорока говяжий</p>
        </div>
        <div class="catalog-line__block"><a href=""><img src="images/pork3.png" alt="pork"></a>
          <p class="name">Стейк из окорока говяжий\</p>
        </div>
      </div>
    </div>
  </section>
  <section class="catalog">
    <div class="wrapper"> 
      <h1>Курица</h1>
      <div class="catalog-line">
        <div class="catalog-line__block"><a href=""><img src="images/chick1.png" alt="chick"></a>
          <p class="name">Курица целиком</p>
        </div>
        <div class="catalog-line__block"><a href=""><img src="images/chick2.png" alt="chick"></a>
          <p class="name">Куриные ножки</p>
        </div>
        <div class="catalog-line__block"><a href=""><img src="images/chick3.png" alt="chick"></a>
          <p class="name">Куриные крылышки </p>
        </div>
      </div>
    </div>
  </section>
  <section class="catalog">
    <div class="wrapper"> 
      <h1>Колабсы</h1>
      <div class="catalog-line">
        <div class="catalog-line__block"> <a href=""><img src="images/ham1.png" alt="ham"></a>
          <p class="name">Салями</p>
        </div>
        <div class="catalog-line__block"> <a href=""><img src="images/ham2.png" alt="ham"></a>
          <p class="name">Варёно-копчёная</p>
        </div>
        <div class="catalog-line__block"> <a href=""><img src="images/ham3.png" alt="ham"></a>
          <p class="name">Варёная </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}